.couverture {
    padding: 120px;
    background-image: url(Affiche_du_film.webp);
    background-size: 1400px;
    background-position: bottom;
}

.Liens {
    font-family: Arial;
    font-size: 28px;
}

a {
    margin: 10px;
}

p {
    font-family: Arial;
    font-size: 30px;
}

li {
    font-family: Arial;
    font-size: 22px;
}

.image {
    background-image: url(Le\ règne\ animal.jpg);
    background-position: center;
}

.couleur {
    color: white;
}