a {
    margin: 10px;
}

.Liens {
    font-family: Arial;
    font-size: 14px;
}

.traitgauche {
    border-left: 1px solid black;
    padding-left: 5px;
    margin-left: 50px;
}

td {
    border: 1px solid white;
}

li {
    font-family: Arial;
    font-size: 12px;
}

.titre {
    font-family: Arial;
    font-size: 30px;
}

.p {
    font-family: Arial;
    font-size: 12px;
}

.tarifs {
    font-family: Arial;
    font-size: 30px;
}

body {
    background-image: url(59591885-motif-de-cinéma-seamless-peut-être-utilisé-pour-le-papier-peint-fond-site-papier-d-emballage.jpg);
    background-position: right;
    background-size:
}

.couleur {
    color: black;
}